<div th:fragment="encabezadoCSSJS">

	<!-- ENCABEZADO DE BOOSTRAP Y JQUERY -->
	<link rel="stylesheet" href="../static/css/bootstrap-5.0.1-css/bootstrap.min.css" th:href="@{/css/bootstrap-5.0.1-css/bootstrap.min.css}">
<!-- 	<script src="../static/js/jquery/jquery-3.4.1.min.js" th:src="@{/js/jquery/jquery-3.4.1.min.js}"></script> -->
	<script src="../static/js/bootstrap-5.0.1-js/bootstrap.min.js" th:src="@{/js/bootstrap-5.0.1-js/bootstrap.min.js}"></script>

	<!-- CSS BARRA DE MENU -->
<!-- 	<link rel="stylesheet" href="../static/css/barraMenu.css" -->
<!-- 		th:href="@{/css/barraMenu.css}"> -->

	<!-- ENCABEZADO DE BARRA DE NAVEGACION -->
<!-- 	<script src="../static/js/acciones.js" th:src="@{/js/acciones.js}"></script> -->

	<!-- ENCABEZADO DE ICONOS -->
<!-- 	<link rel="stylesheet" href="../static/css/fontawesome-free-5.12.1-web/all.min.css" -->
<!-- 		th:href="@{/css/fontawesome-free-5.12.1-web/all.min.css}"> -->

</div>